* {
    box-sizing: border-box;
}

html {
    max-width: 1000px;
    margin: 0px;
    padding: 0px;
}

.first {
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 26px;
    font-weight: bold;
    max-width: 200px;
    max-height: 40px;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    justify-content: end;
    margin-right: 40px;
    
}

li {
    margin-top: -45px;
    justify-content: center;
    
    
}

a {
    text-decoration: none;
    font-size: 20px;
    color: inherit;
}

a:hover {
    color: white;
}

.section-one {
    background-color: #674736;
    color: #E2BB7B;
    margin: 0;
    padding: 10px;    
}

.section-two {
    display: flex;
    gap: 20px;
    background-color: #8A624A;
    padding-bottom: 20px;
}

.coffee-one {
    max-width: 100%;
    height: auto;
    margin-top: 50px;
    padding-right:20px;
}

.main-title {
    font-size: 48px;
    font-weight: 900;
    padding-left: 20px;
    color: #E2BB7B;
}

.intro {
    font-size: 20px;
    padding-left: 20px;
}

.btn {
    margin-left: 170px;
    height: 50px;
    width: 125px;
    font-size: 20px;
    background-color: brown;
    color: white;
}